<style>
    #raw {
        background-color: whitesmoke;
        border-radius: 30px;
        padding: 10px;
        margin-top: 140px;
    }
</style>


<div id="raw" class="p-3 mb-2 bg-dark text-white ">

    <H3 style="color:black; text-align:center">

        <p class="lead" style="font-size: 40px">
            About Dissent
        </p>


        The idea behind Dissent is to make an sentiment barometer that can easily give you an overview of the Twitter users sentiment regarding a certain subject in a certain area. This way, one can easily find out whether the movie you’ve been thinking of seeing has been well received among your peers, or whether your favourite politician is doing as well as you’d like to think.
        <br>
        <br>
        This web app is the result of our graduating project at Academy. After roughly three months of intense studies, we were able to leverage our new knowledge into what you see here. The app is written In C#, using the .net core framework together with MVC in order to power the site. For the more visual aspects of this app we have mainly used Vue.js in order to integrate the map and bind the the variables, from frontend to backend.
        <br>
        <br>
        We do owe a debt of gratitude to several contributors of our project without which this project would not be possible. These are:
        <br>
        <br>
        Our logo was designed by Logo Creater Soft
        <br>
        <br>
        Microsoft, for their Text Sentiment Analysis API
        <br>
        <br>
        Google, for their Google Maps Api
        <br>
        <br>
        Twitter, for their TwitterApi
        <br>
        <br>
        Lastly we would like to give a special thanks to our wonderful colleagues and classmates and of course, the invaluable help of our teacher, Oscar Olsson.
        <br>
        <br>
        -Peter, Ramy and Boris
    </H3>
</div>
