

<div style="text-align:center;margin-top:200px;">

    <button id="HomeButton" style="font-size: 63px;background-color:#101010" onclick="location.href='@Url.Action("Index", "Tweet")'" class="btn btn-primary">Let's Get Start</button>

</div>