<<<<<<< HEAD
﻿<style>
 #app {
        margin-top: 130px;
    }
=======
﻿
<style>
    /*table {
                border-spacing: 0;
                width: 100%;
            }
>>>>>>> a7d05fbaf88ab24f810f863f1f78c8ec61bf8404

    #wrapper {
        display: flex;
        width: 100%;
        align-items: initial;
        height: 500px;
    }

<<<<<<< HEAD
    #content {
        width: 100%;
        height: 500px;
        right: initial;
        text-align: right;
    }

    #map {
        height: 500px;
        width: 100%;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX1XsmTAZIyKquTYmsVwO2mxZS5LZtC6Y&callback=initMap"></script>

=======
    #app {
        margin-top: 130px;
    }

    #wrapper {
        display: flex;
        width: 100%;
        align-items: initial;
        height: 500px;
    }

    #content {
        width: 100%;
        height: 500px;
        right: initial;
        text-align: right;
    }

    #map {
        height: 500px;
        width: 100%;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX1XsmTAZIyKquTYmsVwO2mxZS5LZtC6Y&callback=initMap"></script>
>>>>>>> a7d05fbaf88ab24f810f863f1f78c8ec61bf8404

<div id="app">
    <div class="row">
        <div class="col-md-8">

            <div id="wrapper">
                <div id="content">
                    <div id="map" class="map">
                    </div>
                </div>
            </div>

<div id="app">
    <div class="row">
        <div class="col-md-8">

            <div id="wrapper">
                <div id="content">
                    <div id="map" class="map">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="form-group">
                <label>Search:</label>
                <input v-model="userinput" class="form-control" />
            </div>

            <div class="form-group">
                <label>Enter Radius:</label>
                <input v-model="radius" class="form-control" />
            </div>

            <div class="form-group">
                <label>Latitude:</label>
                <input v-model="lat" class="form-control" />
            </div>

            <div class="form-group">
                <label>Longitude:</label>
                <input v-model="lng" class="form-control" />
            </div>

            <div class="form-group">
                <button v-on:click="showTweetSentiment()" class="form-control">Ok</button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr v-for="x in sentimentResponse">
                    <td>{{x.text}}</td>
                    <td>{{x.sentiment}}</td>

                </tr>
            </table>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="/js/dissent.js"></script>
