@model IEnumerable<Tweetinvi.Models.ITweet>

<div class="row" id="TwitterIndex">
    
    <div class="col-md-4">
        <form asp-action="TwitterResult">
        
           
            <label for="input">Twitter Name:</label>
            <input type="text" name="input" />
            <div class="form-group">
                <input type="submit" value="View Result" class="btn btn-default" />
            </div>


        </form>
    </div>
</div>
