

    <style>
        table {
            border-spacing: 0;
            width: 100%;
        }

        td {
            border: solid 1px #ddd;
            padding: 5px 10px;
        }

        /*html, body {
            height: 75%;
            margin: 0;
            padding: 0;
        }*/

        .wrapper {
            padding-top:100px;
            display:inline-flex;
            width: 100%;
            height:100%;
            padding-left:10px;
           
        }

        /*.w #searchBox {
            width: 100%;
            align-items: center;
        }

        #content {
            width: 100%;
            padding-left: 20px;
            min-height: 100vh;
            right: initial;
            text-align: right;
        }

        .wrapper .map {
            padding:100px;
            height: 100%;
            width: 100%;
            float: right;
        }*/
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX1XsmTAZIyKquTYmsVwO2mxZS5LZtC6Y&callback=initMap"></script>




    <div id="app" class="wrapper" >
        <div id="content">
            <div id="map" class="map"></div>

        </div>
        <div id="searchBox">


            Search:<input v-model="userinput" />
            Enter Radius:<input v-model="radius" />
            Latitude:<input v-model="lat" />
            Longitude:<input v-model="lng" />



            <button v-on:click="showTweetSentiment()">Ok</button>

            <table>
                <tr v-for="x in sentimentResponse">
                    <td>{{x.text}}</td>
                    <td>{{x.sentiment}}</td>

                </tr>
            </table>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="/js/dissent.js"></script>




    <!--<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX1XsmTAZIyKquTYmsVwO2mxZS5LZtC6Y&callback=initMap">
    </script>-->

